<% parent.comments.each do |comment| %>
<div class="media">
   <div class="media-body">
     <small>
       <%= comment.user.name %> commented <%= time_ago_in_words(comment.created_at) %> ago
       <%= link_to "Delete", [parent, comment], method: :delete %>
     </small>
     <p><%= comment.body %></p>
   </div>
</div>
<% end %>