<h1>All Ads</h1>
<% @advertisments.each do |ad| %>
    <p><%= link_to ad.title, advertisment_path(ad.id) %></p>
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">
                <%= link_to ad.title, ad %>
            </h4>
        </div>
    </div>
<% end %>